.wrapper {
  width: 100%;
  display: grid;
  grid-template-rows: 80px,80px,auto;
  grid-template-areas: 
  "nav1"
  "nav2" 
  "main";
}

body {
  padding: 0;
  margin: 0;
  background-color: wheat;
}

.local {
  grid-area: "nav2";
  display: grid;
  background-color: rgba(0, 0, 0, 0.6);
}

.local > ul {
  display: grid;
  grid-template-columns: 1fr, 1fr;
}

nav {
  grid-area: "nav1";
  display: grid;
  grid-template-columns: 10fr 1fr;
  height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}


nav > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  grid-gap: 60px;
  margin-top: 3px;
  text-align: center;
}

nav > ul > li {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  text-align: center;
  align-items: center;
  height: 30px;
}

nav > ul > li:nth-child(1) > a {
  padding: 0;
  padding-top: 5px;
}

nav ul li img {
  max-width: 50px;
}

nav ul li a,
nav a {
  margin-top: 7px;
  width: 100px;
  top: 0px;
  font-size: 17px;
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}

.dropdown-planets {
  margin-left: -50px;
  visibility: hidden;
  opacity: 0;
  transform: scaleY(0);
  /* Start with no height (collapsed) */
  transform-origin: top;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  /* Match the navbar background color */
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 190px;
  transition: transform 0.3s ease, visibility 0s linear 0.3s, opacity 0.3s ease;
  /* Add a transition for a smooth sliding-down effect */
  backdrop-filter: blur(13px);
  /* Add backdrop filter for the blurred effect */
}

nav ul li:hover .dropdown-planets {
  visibility: visible;
  opacity: 0.9;
  /* Adjust the opacity as needed */
  transform: scaleY(1);
  /* Expand to full height on hover */
  transition-delay: 0s;
  /* Remove the delay on hover */
}

.dropdown-planets li {
  margin-left: 8px;
  width: 160px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  list-style-type: none;
}

.dropdown-planets li a {
  padding: 20px;
  display: block;
}

.dropdown-planets li a:hover {
  background-color: #000;
}

main{
  grid-area: "main";
}
